.Message {
    min-height: 50px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 10px;

    img {
        height: 40px;
        aspect-ratio: 1/1;
        border-radius: 100%;
    }

    .userdata {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .username {
            font-weight: bold;
        }

        .createdat {
            font-size: 0.6em;
            text-transform: uppercase;
            color: var(--color-text-alternative);
        }
    }
}