:root {
    --color-background: #232323;
    --color-background-alternative: #363636;
    --color-input: #505050;
    --color-link: #61dafb;
    --color-text: #fff;
    --color-text-alternative: #b7b7b7;

    --font-bootstrap: "bootstrap-icons";
}

html, body {
    margin: 0;

    color: var(--color-text);
    background-color: var(--color-background);
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

input, select, textarea {
    appearance: none;
    border: none;
    outline: none;

    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-input);
    color: var(--color-text);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}